* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-game {
  width: 100vw;
  height: 85vh;

  margin: 0 auto;
  position: relative;

  background: linear-gradient(#87ceeb, #e0f6ff);

  overflow: hidden;
}

.gram {
  width: 100vw;
  height: 3vh;
  
  background: linear-gradient(#23a023, #17c041, #0e793e, #272415, #6f622a);
}

.earth {
  width: 100vw;
  height: 13vh;

  background: linear-gradient(#d75617, #a45614, #b96d19, #7f4c2f, #60341c);
}

.pipe {
  width: 70px;

  position: absolute;
  bottom: 0;

  animation: pipe-animation 2s infinite linear;
  z-index: 1;

  @media (max-width: 390px){
   width: 50px;
  }
}

.mario {
  width: 150px;

  position: absolute;
  bottom: 0;
  z-index: 1;
}

.container-clouds {
  width: 100vw;
  height: 45%;
  display: flex;
  gap: 50px;

  position: absolute;

  margin-top: 20px;

  animation: clouds-animation 30s infinite linear;
}

.cloud {
  max-width: 200px;
  height: 100px;
}

.jump {
  animation: jump 500ms ease-out;
}

.tree-1 {
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 30%;

  animation: tree 15s infinite linear;
}

.tree-2 {
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 10%;

  animation: tree 15s infinite linear;
}

.birds {
  width: 25%;
  position: absolute;

  animation: birds-animation 20s infinite linear;
}

.container-game-over {
  width: 100vw;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 30%;

  display: none;
}

.container-timer {
    width: 160px;
    height: 30px;

    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    text-align: center;

    position: absolute;
    top: 10px;
    right: 10px;

    z-index: 1;
    border-radius: 10px;
    background-color: #cf2228;
    color: white;

}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -100vw;
  }

  to {
    right: 100%;
  }
}

@keyframes tree {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes birds-animation {
  from {
    transform: translateX(0vw) rotate(40deg);
  }

  to {
    transform: translateX(100vw);
  }
}
